<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gustavo">
    <meta name="description" content="MVC-CADASTRO-FUNCIONÃRIO">
    <link rel="icon" type="image/x-icon" href="/img/Topo-Site.jpg">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media.css">
    <title>EMPIRE OF STATES</title>
</head>
<body>
  DXHTBXGBBBXFGNX
  <img src="img/Topo-Site.jpg" alt="">


</body>
</html>