<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gustavo">
    <meta name="description" content="MVC-CADASTRO-FUNCIONÃRIO">
    <link rel="icon" type="image/x-icon" href="/img/Topo-Site.jpg">
    <link rel="stylesheet" href="./css/style.css">
    <title>EMPIRE OF STATES</title>
</head>
<body>
  <!--Cadastro-->
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="/cadastro" method="post">
        <h1 style="margin-top:10px">Crie sua conta</h1>
        <span>Crie aqui!</span>
        <input for="nome" type="nome" placeholder="nome" name="nome" required/>
        <input for="email" type="email" placeholder="E-mail" name="email" required/>
        <input for="senha" type="senha" placeholder="senha" name="senha" required/>
        <button>Sign Up</button>
      </form>
    </div>

     <!--Login-->
    <div class="form-container sign-in-container">
      <form action="/login" method="post">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <input for="email" type="email" placeholder="E-mail" name="email" required/>
        <input for="senha" type="password" placeholder="Senha" name="senha" required/>
        <a href="#">Esqueceu a senha?</a>
        <button type="submit">Entrar</button>
      </form>
    </div>
    
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  
</body>
<script src="/js/script.js"></script>
</html>