<!DOCTYPE html>
<html lang="pt-br">
<%- include('layout/default/head.ejs') %>
<link rel="stylesheet" href="./css/login.css">

<body>
    <section class="container forms">
        <!-- Formulário de Login -->
        <div class="form login">
            <div class="form-content">
                <a href="/" class="back-link">
                    <i class="bx bx-arrow-back" style="font-size: 30px; color: #000;" title="Retorna a tela inicial"></i>
                </a>
                
                <header>Login</header>
                <form action="/user/login" method="post">
                    <div class="field input-field">
                        <input for="email" type="email" placeholder="E-mail" name="email" required/>
                    </div>

                    <div class="field input-field">
                        <input for="senha" type="password" placeholder="Senha" name="senha" required/>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Esqueceu a senha?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Ainda não tem uma conta? <a href="#" class="link signup-link">Cadastre-se</a></span>
                </div>
            </div>

            <div class="line"></div>

            <!-- Opções de Mídia Social -->
            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Fazer login com o Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="#" alt="" class="google-img">
                    <span>Fazer login com o Google</span>
                </a>
            </div>
        </div>

        <!-- Formulário de Cadastro -->
        <div class="form signup">
            <div class="form-content">
                <header>Cadastro</header>
                <form action="/user/register" method="post"> <!-- Substitua "/cadastro" pelo URL real da rota de cadastro -->
                    <div class="field input-field">
                        <input for="nome" type="text" placeholder="Nome" name="nome" required/>
                    </div>

                    <div class="field input-field">
                        <input for="email" type="email" placeholder="E-mail" name="email" required/>
                    </div>

                    <div class="field input-field">
                        <input for="senha" type="password" placeholder="Senha" name="senha" required/>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button>Cadastrar</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Já tem uma conta? <a href="#" class="link login-link">Faça login</a></span>
                </div>
            </div>

            <div class="line"></div>

            <!-- Opções de Mídia Social -->
            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Fazer login com o Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="#" alt="" class="google-img">
                    <span>Fazer login com o Google</span>
                </a>
            </div>
        </div>
    </section>
</body>
<script src="<%= locals.jsPath %>/script.js"></script>
</html>