*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.titulo{
    font-size: 25px;
}
.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: #fff;
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    margin-bottom: 20px;
    margin-top: 10px;
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 4s;
}
.navigation_header a{
    text-decoration: none;
    color: #b040ff;
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: #FFD700;
}
.navbar-nav .nav-link:hover::before {
    opacity: 1;
}
.active{
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    display: none;
}
.parallax-section {
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #000; 
    text-align: center;
    font-size: 24px;  opacity: 0; /* Começa com a opacidade 0 */
    animation: fadeIn 4s forwards; /* Animação de entrada com duração de 1.5 segundos */
}
.parallax-content h2 {
    font-size: 48px;
    color: #000;
    font-weight: bold; 
}
.parallax-content p {
    color: #000;
    font-size: 25px; 
    font-weight: bold; 
}
section{
    margin-top: 20px;
    margin-bottom: 100px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    transform: scale(0.9) translateY(-20px);
    border-radius: 10px 10px 0 0;
    height: 100%;
}
.card:hover {
    transform: scale(0.9) translateZ(-20px);
}
.card img {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    margin-bottom: 25px;
    border: 1px solid #ddd; 
}
.card-img-top {
    object-fit: cover; /* Dimensiona a imagem para preencher o espaço da imagem */
    max-width: 100%; /* Ajusta a largura máxima para manter a responsividade */
    max-height: 250px; /* Define a altura máxima da imagem */
}
.card-description {
    max-height: 100px;
    overflow: hidden;
}
p{
    color: #000;
    margin-left: 25px;
    font-weight: 400;
    justify-content: center;
        animation: h2 3s ease-in-out forwards;
}
ul{
	list-style: none;
}
footer{
	background-color: #000;
    color: #fff;
    padding: 70px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
    color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 90px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
    color: #FFD700;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #b040ff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #fff;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #e91e63;
}
#efeito{
    font-family: "Arial", sans-serif;
    font-size: 30px;
    color: #FF5733;
    text-transform: uppercase;
    animation: efeito 4s ease-in-out forwards;
}
.parallax-content h2{
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    margin-right: 20px;
    font-size: 30px;
    color: #141212;
    text-transform: uppercase;
    animation: h2 3s ease-in-out forwards;
}
#copy {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }
  
#copy p {
    margin: 0;
  }
  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    animation: h2 3s ease-in-out forwards;
}
figure img {
    max-width: 500px;
    width: 100%;
  
    border-radius: 10px;
}
